<div class="head" >
  
  
  <div class="icon">
    <img width="80%" alt="The Movie DB Logo" src="../assets/logos/primary-blue.svg">
  </div>
  
  <div class="start">
    <h1>Welcome to {{ title }}!</h1>
    <br><br>
    <a routerLink="login" >Login</a><br>
    <a routerLink="search" >Search</a><br>
    <br><br>
  </div>
  
  <div class="helpful">
    <p>Here are some helpful links:</p>
    <a target="_blank" rel="noopener" href="https://www.themoviedb.org/documentation/api" >The Movie DB API</a><br>
    <a target="_blank" rel="noopener" href="https://vmware.github.io/clarity/documentation/v0.11" >Project Clarity Documentation</a><br>
    <a target="_blank" rel="noopener" href="https://movies-finder.firebaseapp.com" >An Outside Example Demo Page</a><br>
  </div>
  
  
</div>
