.head {
    height: 10%;
    background-color: dodgerblue;
    color: peru;
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
}

.helpful {
    display: flex;
    flex-direction: column;
}

.helpful-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}