<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Rob's Awesome app
        </label>
        <div class="login-group">
            <input [(ngModel)]="user.email" class="username" type="email" id="login_username" placeholder="Email" [ngModelOptions]="{standalone: true}">
            <input [(ngModel)]="user.password" class="password" type="password" id="login_password" placeholder="Password" [ngModelOptions]="{standalone: true}">
            <button (click)="doLogin()" type="submit" class="btn btn-primary">Login</button>
            <a routerLink="/register" class="signup">Register!</a>
        </div>
    </form>
</div>