<div class="search-box">
    
    <form novalidate="">
        <div>
            <div>
                <input [(ngModel)]="_movies.urlMovie" name="searchString" placeholder="Search for movies..." type="text" >
                <button (click)="getMovie()" type="button">Search!</button>
            </div>
            
            <div *ngIf="data.results">
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12" *ngFor="let movie of data.results">
                    <div class="card">
                        <div class="card-header">
                            {{movie.original_title}}
                        </div>
                        <div class="card-block">
                            <div class="card-media-block">
                                <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-media-image">
                                <div class="card-media-description">
                                    <span class="card-media-title">
                                        Title: {{movie.original_title}}
                                    </span>
                                    <span class="card-media-text">
                                        Release: {{movie.release_date}}
                                    </span>
                                </div>
                            </div>
                            <div class="card-text">
                                {{movie.overview}}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link">Action</button>
                        </div>
                    </div>
                </div>
            </div>   
            
        </div>
    </form>
  
</div>